* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #2196f3, #6dd5ed);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}